/* ==========================================================================
   LOGGED IN ACCOUNT
   ========================================================================== */

.dropbtn {
    background-color: white;
    color: darkgray;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 200px;
}

.dropbtn>* {
    pointer-events: none;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: lightgray;
}

.dropdown {
    position: fixed;
    display: none;
    right: 30px;
    top: 30px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

.hide {
    display: none;
}

#profile-pic {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    vertical-align: middle;
}

#user-name {
  padding: 16px;
  font-size: 16px;
}

select {
    background-color: white;
    border-radius: 8px;
    font-family: "Comfortaa";
    padding: 5px;
}

select:hover {
    cursor: pointer;
}

option {
    font-family: "Comfortaa";
}

.card-object {
    align-content: left;
    font-family: "Comfortaa";
    margin: 20px;
    padding: 10px;
}

p2 {
    align-content: left;
    text-align: left;
    font-size: 30px;
    font-weight:bold;
}

p3 {
    align-content: left;
    text-align: left;
    font-size: 20px;
    font-weight:100;
}

#map {
  height: 100%;
}

div1 {
    text-align: center;
}

card-body {
    text-align: left;
}

/* ==========================================================================
   Feedback and Search Buttons
   ========================================================================== */
.btn1, .submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: "Comfortaa";
    font-size: 15px;
    margin: 6px;
    padding: 5px 8px;
}

.search:hover,.feedback:hover {
    background-color: black;
    border-color: white;
    color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ==========================================================================
   MAPS
   ========================================================================== */
.map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#map {
    width: 25vw;
    height: 35vh;
    ;
}

#directionsPanel {
    width: 25vw;
    height: 35vh;
    overflow: scroll;
}

.feedback .search{
    border-color: black;
    border-radius: 15px;
}

/* ==========================================================================
   Feedback and Search Buttons
   ========================================================================== */

.btn1, .submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: "Comfortaa";
    font-size: 15px;
    margin: 6px;
    padding: 5px 8px;
}

.search:hover,.feedback:hover {
    background-color: black;
    border-color: white;
    color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
