body,
html {
    overflow: hidden;
}

section {
    height: 100%;
    width: 100%;
    z-index: 0;
    -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
}

#search {
    background: #FFFFFF;
}

#results {
    background: #FFFFFF;
    overflow: auto;
}

a[id="search"]:target~#search {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

a[id="results"]:target~#results {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
