@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.info-banner,
.success-banner,
.warning-banner,
.error-banner {
    padding: 10px;
    margin: 10px 0;
    border-radius: .5em;
}

.info-banner {
    color: #00529B;
    background-color: #BDE5F8;
}

.success-banner {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning-banner {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error-banner {
    color: #D8000C;
    background-color: #FFD2D2;
}

.info-banner:before,
.success-banner:before,
.warning-banner:before,
.error-banner:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.info-banner:before {
    content: "\f05a";
}

.success-banner:before {
    content: '\f00c';
}

.warning-banner:before {
    content: '\f071';
}

.error-banner:before {
    content: '\f057';
}
