/* ==========================================================================
   GRID
   ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

.input-group {
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.input--style-2 {
    padding: 9px 0;
    font-size: 16px;
}

/* ==========================================================================
   FIELD LABEL ANIMATION
   ========================================================================== */
.textarea-block label,
.input-group label {
    color: #696969;
    cursor: text;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 0px;
    transition: all 0.2s linear 0s;
}

.input-group input:focus+label,
.textarea-block textarea:focus+label,
.input-group input.active+label,
.textarea-block textarea.active+label {
    top: -15px;
    cursor: default;
}


/* ==========================================================================
   FIELD UNDERLINE
   ========================================================================== */
.input-group .border,
.textarea-block .border {
    position: absolute;
    width: 0px;
    height: 2px;
    left: 0px;
    background: linear-gradient(to right, #f10708 0%, #870804 100%);
    transition: all 0.2s linear 0s;
}

.input-group .border {
    bottom: 0px;
}

.textarea-block .border {
    bottom: 5px;
}

.input-group input:focus+label+.border,
.input-group input.active+label+.border,
.textarea-block textarea:focus+label+.border,
.textarea-block textarea.active+label+.border,
.input-group select:focus+label+.border,
.input-group select.active+label+.border {
    width: 100%;
}

.input-group input.active+label+.border,
.textarea-block textarea.active+label+.border {
    background: linear-gradient(to right, #1ebf05 0%, #013d07 100%);
}

/* ==========================================================================
   DATE PICKER
   ========================================================================== */
td.active {
    background-color: #2c6ed5;
}

input[type="date"i] {
    padding: 14px;
}

.daterangepicker td {
    width: 40px;
    height: 30px;
}

.daterangepicker {
    border: none;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    display: none;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

.daterangepicker::after,
.daterangepicker::before {
    display: none;
}

.daterangepicker thead tr th {
    padding: 10px 0;
}

.daterangepicker .table-condensed th select {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    outline: none;
}

/* ==========================================================================
   CARD
   ========================================================================== */
.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
}

.card .card-body {
    display: table-cell;
    padding: 40px 90px;
    padding-bottom: 40px;
}

.card-2 {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .card {
        display: block;
    }

    .card .card-heading {
        width: 100%;
        display: block;
        padding-top: 300px;
        background-position: left center;
    }

    .card .card-body {
        display: block;
        padding: 60px 50px;
    }
}

.wrapper {
    margin: 0 auto;
}

.wrapper--w960 {
    max-width: 960px;
}

/* ==========================================================================
   MISCELLANEOUS
   ========================================================================== */
/* Asterisk after required fields */
.textarea-block textarea[required="required"]+label:after,
.input-group input[required="required"]+label:after {
    content: "*";
}
