body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

/* line 6, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene .scene_element {
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* line 17, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene .fadein {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* line 22, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene .fadeinup {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* line 27, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene .fadeinright {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

/* line 32, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene .delayed {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

/* line 37, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .scene_element {
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}

/* line 42, /Users/miguelperez/Sites/csstricks/source/stylesheets/pageTransitions.css.scss */
.m-scene.is-exiting .delayed {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.is-loading,
.is-loading a {
    cursor: progress;
}
